.favorites * img {
    float: left;
    width:100%;
    max-width:300px;
    margin-right: 1%;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

ul > li > a {
    float: right;
}

li {
    display: flow-root;
 }

.bin {
    display: flex;
    float: right;
    width: 45px;
    margin: 2px;
    padding-left: 2px;
}