ul > li > img {
    float: left;
    height: 130px;
    padding-right: 1%;
    justify-content: center;
}
ul > li > a {
    float: right;
    

}
li {
   display: flow-root;
}

#weather > img {
    display: inline;
}

#temp {
    display: inline;
}


